package aping

import (
	"bytes"
	"encoding/json"
	"errors"
	"fmt"
)

{{ range . }}
// {{ .Type }} ENUM

type {{ .Type }} int

const (
{{ $type := .Type }}
{{ range $index, $value := .Enums }}
    {{ $type }}_{{ gfTitle $value }}{{ if eq $index 0 }} {{ $type }} = iota{{ end }}{{ end }}
)

func (e {{ .Type }}) String() string {
	return {{ .Type }}ToString[e]
}

{{ end }}